# IMPORTANT: Ignore all files you are not using, especially the ones with sensitive
# or specific information about your build or services.

# Folders
.git/
.cache/
logs/
__MACOSX/
.DS_Store/

## Files
# Might contain sensitive information
.editorconfig
.gitattributes
.gitignore
.env
compose.yml
LICENSE
Makefile
readme.md

## Docker
# Important to ignore these files, otherwise they might end up in the container.
# An included Dockerfile will provide insight to your custom configuration of this project.
Dockerfile
.dockerignore
