# https://editorconfig.org/

# Root editorconfig
root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.sh]
end_of_line = lf

[*.yml]
indent_size = 2

[Makefile]
indent_style = tab
tab_width = 4
